node_modules/
.pnp
.pnp.js
dist/
dist-ssr/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
.vite/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
*.log
npm-debug.log*
*.xlsx
*.csv
*.xls
